# Local development:
# VITE_BACKEND_URL=http://localhost:8000
# VITE_SOCKET_URL=http://localhost:8000
# VITE_SERVER_API_URL=http://localhost:8000/api

# Deployed environment (Render):
VITE_BACKEND_URL=https://think-ink-backend-2802-artz.onrender.com
VITE_SOCKET_URL=https://think-ink-backend-2802-artz.onrender.com
VITE_SERVER_API_URL=https://think-ink-backend-2802-artz.onrender.com/api
VITE_API_URL=https://think-ink-backend-2802-artz.onrender.com/api
