/* Variables */
@import 'variables';

$error-border-color: #69a3e3;
$error-text-color: #1e4fd8;
$error-button-bg-color: #3e5eff;
$error-button-hover-bg-color: #1e4fd8;
$error-icon-color: #1e66b5;
$error-icon-hover-color: #ef5a5a;

.errorContainer {
	flex-grow: 1;

	max-width: 100%;
	max-height: 84vh;

	@include main-box;

	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 3fr 1fr;
	gap: $gap;

	justify-items: center;
	align-items: center;

	@media screen and (max-width: 768px) {
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}
}

.incognitoIcon {
	@include flex-center;
	font-size: calc($fontSize2 * 10);
	// align-items: center;
	// width: 100%;
	// height: 100%;
	// border: 1px solid red;
	color: $error-icon-color;
	transition: color 0.3s, transform 0.5s;
	transform-origin: center;

	&:hover {
		color: $error-icon-hover-color;
	}
}
.errorHeader {
	.errorText {
		font-size: calc($fontSize2 * 2.5);
		font-weight: bold;
		color: $error-text-color;
		text-transform: uppercase;
		letter-spacing: 5px;
		transform: rotate(-5deg);
		transition: font-size 0.3s;
		&:hover {
			font-size: calc($fontSize2 * 2);
		}
	}
	.errorCode {
		font-size: calc($fontSize2 * 2);
		color: $error-border-color;
		transition: font-size 0.3s;
		flex-wrap: nowrap;
	}
	&:hover {
		.errorText {
			font-size: calc($fontSize2 * 2);
		}
		.errorCode {
			font-size: calc($fontSize2 * 4);
		}
	}
}
.errorMessage {
	font-size: calc($fontSize2 * 1.8);
	text-align: center;
	color: $error-border-color;
	transition: all 0.3s;
	&:hover {
		font-size: calc($fontSize2 * 2.5);
	}
}

.homeButton {
	@include button;
	padding: 0.7vw 2vw;
	font-size: $fontSize1;
	background-color: $error-button-bg-color;
	color: $textColor2;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;

	&:hover {
		background-color: $error-button-hover-bg-color;
		transform: scale(1.1);
	}

	&:focus {
		outline: none;
	}
}
