@use 'variables' as *;

.socialIcons {
	display: flex;
	align-items: center;
	gap: var(--space-1);
	margin-bottom: 0;

	a {
		display: flex;
		color: var(--textColor2);

		&:hover {
			text-decoration: none;
		}
	}
}

.icon {
	@include icon;
}
